{
    "disk_type": "pd-ssd",
    "disk_size": "10",
    "image_description": "Ubuntu 16.04 LTS server image with preinstalled Docker",
    "image_family": "docker-base",
    "machine_type": "g1-small",
    "project_id": "my_project-id",
    "source_image_family": "ubuntu-1604-lts",
    "ssh_username": "appuser",
    "tags": "docker",
    "zone": "europe-west2-a"
}
