# Terraform
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars
.terraform/

#ansible
*.retry

#packer
variables.json

dockerhost
dockerhost.pub

.editorconfig
.vscode
!*.log
.env
docker-key.json
secrets.tar.gz
docker-compose.*
