# Terraform
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars
.terraform/

#ansible
*.retry

#packer
variables.json

#ssh keys
dockerhost
dockerhost.pub


#docker-compose
.env
docker-compose.override.yml
vault.key

#GCP creds
secrets.tar.gz

#VS CODE
.editorconfig
.vscode
!*.log
.env

# Docker keys
docker-key.json



