version: '3.3'
services:
  ui:
    command: "puma --debug -w 2"
    volumes:
    - ${SRC_PATH}/ui:/app
  post:
    volumes:
    - ${SRC_PATH}/post-py:/app
  comment:
    command: "puma --debug -w 2"
    volumes:
    - ${SRC_PATH}/comment:/app
